{% extends 'base.html' %}
{% block title %}{{ race.name }}{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container mt-5 w-25">
  <div class="">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="col">
        <h3 class="d-flex justify-content-between align-items-center mb-2">
          <span>{{ race.name }}</span>
              {% if not race.completion_date %}
              <span class="badge bg-success mt-1">ACTIVE</span>
              {% else %}
              <span class="badge bg-secondary">OVER</span>
              {% endif %}
        </h3>
        <hr class="text-secondary">
        <p class="page_description text-secondary lh-base text-break mb-3">
          {{ race.description|striptags|truncatechars:200 }}
          {% if race.description|length >= 201 %}
          <a class="link-primary text-decoration-none" href="#" role="button" data-bs-toggle="modal" data-bs-target="#modal-show-description">
          Read Full
          </a>
          {% endif %}
        </p>
        {% if race.description|length >= 201 %}
        <!-- Modal Show Description -->
        <div class="modal fade" id="modal-show-description" tabindex="-1" aria-labelledby="DescriptionModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ClearCartModalLabel">Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-break">{{ race.description }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- ############ -->
        {% endif %}
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <span><a href="{% url 'races:race_racers_list' race.pk %}" class="link-primary text-decoration-none">Racers</a></span>
            <strong>{{ race.racers.count }}/{{ race.race_limit }}</strong>
          </li>
        </ul>
        <div class="d-flex justify-content-between align-items-center mt-3">
          {% if not race.completion_date %}
          {% if request.user not in race.racers.all %}
          <form action="{% url 'races:apply_for_race' race.pk %}" method="POST" id="frm_apply"> {% csrf_token %}
            <a class="btn btn-outline-primary" href="javascript:$('#frm_apply').submit();">Apply</a>
          </form>
          {% else %}
          <form action="{% url 'races:cancel_race' race.pk %}" method="POST" id="frm_cancel"> {% csrf_token %}
            <a class="btn btn-outline-danger" href="javascript:$('#frm_cancel').submit();">Cancel</a>
          </form>
          {% endif %}
          {% endif %}
          <small class="text-muted">{{ race.creation_date|timesince }} ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}