/* NAVBAR */

.navbar {
  --bs-navbar-nav-link-padding-x: 0;
  --bs-navbar-brand-margin-end: 0;
  --bs-navbar-padding-y: 0;
}

.navbar-brand {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #dc3545;
  margin: 0 0 0 0;
  display: inline-block;
  position: relative;
  letter-spacing: .08em;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.navbar-brand:hover {
  color: black;
}

.nav_link_base {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 20px 0px;
  display: inline-block;
  position: relative;
  letter-spacing: .08em;
}

.nav_link_base::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: black;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-active {
  color: #e50027 !important;
}

.nav_link_base:focus, .nav_link_base:hover {
    color: #e50027;
}

.navbar-toggler {
  border-width: 0;
}

.user_detail {
  border-style: solid;
  border-color: #dee2e6;
  border-width: 1px;
  border-radius: 10px 10px 10px 10px;
}

/* HOME */
.gradient_bar {
  opacity: 1;
  height: 25%;
  position: absolute;
  width: 100%;
  padding: 25px 20px 100px 20px;
}

#home_content {
  position: relative;
}

/* PAGINATION */

.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-border-color: #d9d9d9;
    --bs-pagination-font-size: 1.2rem;
    --bs-pagination-color: #e50027;
    --bs-pagination-hover-color: white;
    --bs-pagination-hover-bg: #e50027;
    --bs-pagination-hover-border-color: #e50027;
    --bs-pagination-focus-color: white;
    --bs-pagination-focus-bg: #e50027;
    --bs-pagination-active-color: white;
    --bs-pagination-active-bg: #e50027;
    --bs-pagination-active-border-color: #e50027;
    --bs-pagination-disabled-bg: transparent;
    --bs-pagination-disabled-border-color: #d9d9d9;
}

/* SEPARATOR */

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
  color: #6c757d;
  border-color: #6c757d;
  opacity: .25;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* CARDS CARDS CARDS CARDS CARDS */
.card_col {
  margin-bottom: 4.49rem !important;
}

.card {
  --bs-card-border-radius: 25px;
  border-width: 1;
  background: white;
}

.card-body {
  margin: 4rem 0 4rem 0;
}

.row>* {
  padding-right: calc(var(--bs-gutter-x) * 1.5);
  padding-left: calc(var(--bs-gutter-x) * 1.5);
  margin-top: var(--bs-gutter-y);
}

.cards_row {
  margin-right: calc(-1.5 * var(--bs-gutter-x));
  margin-left: calc(-1.5 * var(--bs-gutter-x));
}

.fa_cards {
  font-size: 5.5rem;
  color: #dc3545;
}

/* ALBUM CARDS */
.card_row.row>* {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.card_main:hover {
  transform: scale(1.1);
  border-radius: 10%;
  box-shadow: 0 0 20px 5px #471115;
}

.card_image {
  width: 70%;
  height: auto;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  border-radius: 10%;
}

.card_main {
  transition: 0.15s;
}

.card_title {
  color: white;
}

.fa_icon {
  font-size: 3.5rem;
  color: white;
  font-weight: 600;
}

/* Create card */
.create_card {
  background-color: #ffd758 !important;
}

.create_card:hover .card-title {
  color: white !important;
}

.create_card:hover .fa_icon {
  color: white !important;
}

.create_card:hover {
  background-color: black !important;
}

/* Complete card */
.complete_card {
  background-color: #e50027 !important;
}

.complete_card:hover .card-title {
  color: white !important;
}

.complete_card:hover .fa_icon {
  color: white !important;
}

.complete_card:hover {
  background-color: black !important;
}

/* Edit card */
.edit_card {
  background-color: #007bc3 !important;
}

.edit_card:hover .card-title {
  color: white !important;
}

.edit_card:hover .fa_icon {
  color: white !important;
}

.edit_card:hover {
  background-color: black !important;
}
