/* NAVBAR */

.navbar {
  --bs-navbar-nav-link-padding-x: 0;
  --bs-navbar-brand-margin-end: 0;
  --bs-navbar-padding-y: 0;
}

.navbar-brand {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #dc3545;
  margin: 0 0 0 0;
  display: inline-block;
  position: relative;
  letter-spacing: .08em;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.navbar-brand:hover {
  color: black;
}

.nav_link_base {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 20px 0px;
  display: inline-block;
  position: relative;
  letter-spacing: .08em;
}

.nav_link_base::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: black;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-active {
  color: #dc3545 !important;
}

.nav_link_base:focus, .nav_link_base:hover {
    color: #dc3545;
}

.navbar-toggler {
  border-width: 0;
}

.user_detail {
  box-shadow: 0 0 20px 5px #d9d9d9;
  border-radius: 10px 10px 10px 10px;
}

/* PAGINATION */

.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-border-color: #d9d9d9;
    --bs-pagination-font-size: 1.2rem;
    --bs-pagination-color: #dc3545;
    --bs-pagination-hover-color: white;
    --bs-pagination-hover-bg: #dc3545;
    --bs-pagination-hover-border-color: #dc3545;
    --bs-pagination-focus-color: white;
    --bs-pagination-focus-bg: #dc3545;
    --bs-pagination-active-color: white;
    --bs-pagination-active-bg: #dc3545;
    --bs-pagination-active-border-color: #dc3545;
    --bs-pagination-disabled-bg: transparent;
    --bs-pagination-disabled-border-color: #d9d9d9;
}
