{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="grey_container gradient_bar">
  <div class="container">
    <div class="bd-masthead" id="content">
      <div class="user_detail mb-4 bg-white">
        <div class="text-center mt-5 mb-5">
          <h1 style='font-size: 3rem;'>Welcome{% if request.user.is_authenticated %}, {{ request.user.username }}{% endif %}</h1>
          <div class='container w-75 mt-2'>
            <p class='text-break text-secondary'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
          </div>
          {% if request.user.is_authenticated %}
          <a role="button" class="btn btn-outline-success btn-lg" href="{% url 'races:race_list' %}">Apply for Race</a>
          {% else %}
          <a role="button" class="btn btn-outline-danger btn-lg" href="{% url 'racers:register' %}">Start</a>
          {% endif %}
        </div>
      </div>
      <div class="separator mb-4"><h4>NASCAR</h4></div>
      <div class="row row-cols-1 row-cols-lg-3 text-center cards_row">

        <div class="col card_col">
          <div class="card create_card">
            <a class="text-decoration-none" href="{% url 'races:completed_race_list' %}">
            <div class="card-body">
              <h3 class="fa_icon"><span class="badge bg_yellow">{{ active_races.count }}</span></h3>
              <h2 class="card-title mt-2 text-dark">Active<br>Races</h2>
            </div>
            </a>
          </div>
        </div>

        <div class="col card_col">
          <div class="card complete_card">
            <a class="text-decoration-none" href="{% url 'racers:racer_list' %}">
            <div class="card-body">
              <h3 class="fa_icon"><span class="badge bg_red">{{ racers.count }}</span></h3>
              <h2 class="card-title mt-2 text-dark">Current<br>Racers</h2>
            </div>
            </a>
          </div>
        </div>

        <div class="col card_col">
          <div class="card edit_card">
            <a class="text-decoration-none" href="{% url 'races:race_list' %}">
            <div class="card-body">
              <h3 class="fa_icon"><span class="badge bg_blue">{{ completed_races.count }}</span></h3>
              <h2 class="card-title mt-2 text-dark">Completed<br>Races</h2>
            </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}
