{% extends 'base.html' %}
{% block title %}{{ car.car_model.name }}{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container mt-5 w-25">
  <div class="">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="col">
        <h1 class="d-flex justify-content-between align-items-center mb-2">
          <span>{{ car.car_model.name }}</span>
        </h1>
        <div class="separator mb-2">Info</div>
        <table class="table table-borderless" data-bs-theme="light">
          <tbody>
            <tr>
              <th scope="row" class="text-dark">Racer</th>
              <td class="text-secondary"><a class="link link-primary text-decoration-none" href="{{ car.racer.get_absolute_url }}">{{ car.racer.username }}, #{{ car.racer.number }}</a></td>
            </tr>
            <tr>
              <th scope="row" class="text-dark">Color</th>
              <td class="text-secondary"><span class="badge rounded-pill border border-dark" style="background-color: {{ car.color }};">{{ car.color }}</span></td>
            </tr>
            <tr>
              <th scope="row" class="text-dark">Speed</th>
              <td class="text-secondary">{{ car.car_model.speed }} km/h</td>
            </tr>
            <tr>
              <th scope="row" class="text-dark">Manufacture Year</th>
              <td class="text-secondary">{{ car.car_model.date_of_manufacture|date:'Y' }}</td>
            </tr>
            <tr>
          </tbody>
        </table>
        <hr class="text-secondary">
        <div class="d-flex justify-content-between align-items-center mt-3">
          {% if request.user == car.racer %}
          <a href="{% url 'cars:car_update' car.pk %}" class="btn btn-outline-success">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}