{% extends 'base.html' %}
{% block title %}{{ car.car_model.name }}{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container mt-5 mb-5 w-50">
  <div class="user_detail">
    <div class="d-flex flex-wrap justify-content-center">
      <div class='user_detail_info ms-5 w-50 mt-5 mb-5'>
        <h1 class="text-center">Edit</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
          <div class="mb-3">
            <label class="form-label">{{ field.label_tag }}</label>
            {% render_field field class="form-control" placeholder=field.label %}
            <div class="form-text">{{ field.help_text }}</div>
          </div>
          {% endfor %}
          <button id='save_album' style="visibility: hidden;" type="submit">Save</button>
        </form>
        <div class="d-flex">
          <button class="btn btn-outline-primary me-auto" onclick="document.getElementById('save_album').click();">Save</button>
          <a href='#' class="btn btn-cart_delete btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-user">
          Delete
        </a>
        <!-- Modal Clear Cart -->
        <div class="modal fade" id="modal-delete-user" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ClearCartModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class=''>Deleting your car will cancel your current race application. Are you sure you want to delete your car?</p>
              </div>
              <div class="modal-footer">
                <form action="{% url 'cars:car_delete' request.user.car.pk %}" method="POST" id="frm_delete"> {% csrf_token %}
                  <a class="btn btn-outline-danger" href="javascript:$('#frm_delete').submit();">Confirm</a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- ############ -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
