{% extends 'base.html' %}
{% block title %}{{ racer.username }}{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container mt-5" data-bs-theme="dark">
  <div class="user_detail">
    <div class="d-flex flex-wrap justify-content-center">
      <div class='user_detail_info ms-5 w-50 mt-5 mb-5 me-5'>
        <div class="d-flex">
          <div class="flex-grow-1">
            <h1>{{ racer.username }}
            {% if racer == request.user %}
              <a href='{% url "racers:racer_update" request.user.pk %}' class="btn btn-outline-success me-4">
                Edit
              </a>
            {% endif %}
            </h1>
            <h6 class="text-secondary">{{ racer.first_name }} {{ racer.second_name }}</h6>
          </div>
          <div class="border border-dark rounded">
            <div class="bg-dark text-light text-center">SCORE</div>
            <div class="p-2"><h3>{{ racer.score }}</h3></div>
          </div>
        </div>
        <div class="separator mb-2">Description</div>
        <p class="page_description text-secondary lh-base text-break">
          {{ racer.description|striptags|truncatechars:400 }}
          {% if racer.description|length >= 401 %}
          <a class="link-primary text-decoration-none" href="#" role="button" data-bs-toggle="modal" data-bs-target="#modal-show-description">
          Read Full
          </a>
          {% endif %}
        </p>
        {% if racer.description|length >= 401 %}
        <!-- Modal Show Description -->
        <div class="modal fade" id="modal-show-description" tabindex="-1" aria-labelledby="DescriptionModalLabel" aria-hidden="true" data-bs-theme="light">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ClearCartModalLabel">Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-break">{{ racer.description }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- ############ -->
        {% endif %}
        <div class="separator mb-2">Info</div>
        <table class="table table-borderless" data-bs-theme="light">
          <tbody>
            <tr>
              <th scope="row">Number</th>
              <td>{{ racer.number }}</td>
            </tr>
            <tr>
              <th scope="row">Car</th>
              <td><a class="link link-primary text-decoration-none" href="{% url 'cars:car_detail' racer.car.pk %}">{{ racer.car.car_model.name }}, {{ racer.car.color }}</a></td>
            </tr>
            <tr>
              <th scope="row">Country</th>
              <td>{{ racer.country }}</td>
            </tr>
            <tr>
              <th scope="row">Active since</th>
              <td>{{ racer.active_since }}</td>
            </tr>
            <tr>
              <th scope="row">Year of birth</th>
              <td>{{ racer.year_of_birth }}</td>
            </tr>
            <tr>
              <th scope="row">Stance</th>
              <td>{{ racer.stance }}</td>
            </tr>
          </tbody>
        </table>
        <div class="separator mb-2">Races</div>
        <table class="table" data-bs-theme="light">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Racers</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody class="">
            {% for race in racer.race_set.all %}
            <tr>
              <th scope="row"><a class="link link-danger text-decoration-none" href="{{ race.get_absolute_url }}">{{ race.name }}</a></th>
              <td>{{ race.racers.count }}/{{ race.race_limit }}</td>
              <td>
                {% if not race.completion_date %}
                <span class="badge bg-success">ACTIVE</span>
                {% else %}
                <span class="badge bg-secondary">OVER</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}