{% extends 'base.html' %}
{% block title %}{{ racer.username }}{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container mt-5" data-bs-theme="dark">
  <div class="user_detail">
    <div class="d-flex flex-wrap justify-content-center">
      <div class='user_detail_info ms-5 w-50 mt-5 mb-5 me-5'>
        <div class="d-flex">
          <div class="flex-grow-1">
            <h1>{{ racer.username }}
            {% if racer == request.user %}
              <a href='{% url "racers:racer_update" request.user.pk %}' class="btn btn-outline-success me-4">
                Edit
              </a>
            {% endif %}
            </h1>
            <h6 class="text-secondary">{{ racer.first_name }} {{ racer.second_name }}</h6>
          </div>
          <div class="border border-dark rounded">
            <div class="bg-dark text-light text-center">SCORE</div>
            <div class="p-2"><h3>{{ racer.score }}</h3></div>
          </div>
        </div>
        <div class="separator mb-2"><h6>Description</h6></div>
        <p class="page_description text-secondary lh-base text-break">
          {% if racer.description %}
          {{ racer.description|striptags|truncatechars:400 }}
          {% else %}
          No description given.
          {% endif %}
          {% if racer.description|length >= 401 %}
          <a class="link-primary text-decoration-none" href="#" role="button" data-bs-toggle="modal" data-bs-target="#modal-show-description">
          Read Full
          </a>
          {% endif %}
        </p>
        {% if racer.description|length >= 401 %}
        <!-- Modal Show Description -->
        <div class="modal fade" id="modal-show-description" tabindex="-1" aria-labelledby="DescriptionModalLabel" aria-hidden="true" data-bs-theme="light">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ClearCartModalLabel">Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-break">{{ racer.description }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- ############ -->
        {% endif %}
        <div class="separator mb-2"><h6>Info</h6></div>
        <table class="table table-borderless" data-bs-theme="light">
          <tbody>
            <tr>
              <th scope="row" class="text-dark">Number</th>
              <td class="text-secondary">{{ racer.number }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-dark">Car</th>
              {% if racer.car %}
              <td class="text-secondary"><a class="link link-primary text-decoration-none" href="{{ racer.car.get_absolute_url }}">{{ racer.car.car_model.name }}</a></td>
              {% else %}
              <td class="text-secondary">None</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row" class="text-dark">Country</th>
              <td class="text-secondary">{{ racer.country }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-dark">Date joined</th>
              <td class="text-secondary">{{ racer.date_joined|date:'F j, Y' }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-dark">Year of birth</th>
              <td class="text-secondary">{{ racer.year_of_birth }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-dark">Stance</th>
              <td class="text-secondary">{{ racer.stance }}</td>
            </tr>
          </tbody>
        </table>
        <div class="separator mb-2"><h6>Races</h6></div>
        {% if racer.race_set.all %}
        <table class="table" data-bs-theme="light">
          <thead>
            <tr>
              <th scope="col" class="text-dark">Name</th>
              <th scope="col" class="text-dark">Racers</th>
              <th scope="col" class="text-dark">Place</th>
              <th scope="col" class="text-dark">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in racer.raceentry_set.all %}
            <tr>
              <td><a class="link link-primary text-decoration-none" href="{{ entry.race.get_absolute_url }}">{{ entry.race.name }}</a></td>
              {% if not entry.race.completion_date %}
              <td class="text-secondary">{{ entry.race.racers.count }}/{{ entry.race.race_limit }}</td>
              {% else %}
              <td class="text-secondary">{{ entry.race.racers.count }}</td>
              {% endif %}
              <td>{% if entry.place %}<span class="badge bg-dark">{{ entry.place }}</span>{% else %}<span class="text-secondary">N/A<span>{% endif %}</td>
              <td>
                {% if not entry.race.completion_date %}
                <span class="badge bg-success">ACTIVE</span>
                {% else %}
                <span class="badge bg-secondary">OVER</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-secondary">{{ racer.username }} didn't participate in any races.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}