{% extends 'base.html' %}
{% block title %}Racers{% endblock %}
{% block content %}
<div class="grey_container">
  <div class="container mt-5 mb-5 w-50">
    <div class="bd-masthead mt-5" id="content">
      <div class="list-group mb-5 mt-5">
        {% for racer in racers %}
        <a href="{{ racer.get_absolute_url }}" class="list-group-item list-group-item-action">
          <div class="d-flex align-middle">
            <div class="me-auto">
              <h5 class="mb-1 mt-1">{{ racer.username }} #{{ racer.number }}</h5>
              <small class="text-muted">{{ racer.first_name }} {{ racer.second_name }}</small>
            </div>
            <h4 class="mt-2">
              <span class="badge rounded-pill bg-dark">{{ racer.score }}</span>
            </h4>
          </div>
        </a>
        {% empty %}
        <h4 class="mt-3 mb-3 text-center">No results found</h4>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include 'pagination.html' %}
{% endblock %}
